**/.idea/
**/out/
.idea/
out/
*.iml

# META-INF generado por builds / IDEs
**/META-INF/**
**/meta-inf/**

# PERMITIR solo el META-INF que es código fuente
!**/src/main/resources/META-INF/**

# Ignorar cosas de netbeans
echo "nbproject/private/" >> .gitignore
echo "**/nbproject/private/" >> .gitignore

# Configuraciones personales de IDEs (recursivo) NETBEANS
**/nbproject/private/
**/.idea/
**/*.iml

# Archivos compilados (recursivo)
**/*.class
**/out/
**/bin/
**/target/
**/build/
**/dist/

# Archivos del sistema
.DS_Store
Thumbs.db
*.log